body {
  background-color: #f29c50e0;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.home-logo {
  width: 450px;
  margin-bottom: 80px;
}

.search-bar.search-bar-home {
  width: 1000px;
  justify-content: center;
  border-radius: 30px;
  padding: 15px 20px;
  margin-top: 0px;
}
